
@media (min-width:1000px) {
    body{
        width: 100%;
        height: auto;
    }    
}
body{
    margin: 0;
    padding: 0;
    background-image: url(/images/pexels-cliford-mervil-2469122.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
body{
    width: 100vw;
    max-width: 1000px;
    height: calc(100vw/ 1000* 1344);
    max-height: 1344px;
    overflow: hidden;
}
.mypopup{
    background-color: rgba(255,255,255,0.7);
    width: 30%;
    height: 15%;
    margin: auto auto;
    margin-top: 300px;
}
.mypopuptitle{
    font-size: 18px;
    color:#140F2D;
}

.logoimg{
    position: relative;
}
#logocat{
    height: 260px;
    width: 260px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 4%;
    opacity: 90%;
    z-index: 3;
}
#playlogo{
    height: 120px;
    width: 250px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 150px;
}
#playlogo:hover{
    transform: scale(1.1,1.1);
}
 @keyframes shake { 
    0% { transform: translate(1px, 1px) rotate(0deg); }
    0.5% { transform: translate(-1px, -2px) rotate(-1deg); }
    1% { transform: translate(-3px, 0px) rotate(1deg); }
    1.5% { transform: translate(3px, 2px) rotate(0deg); }
    2% { transform: translate(1px, -1px) rotate(1deg); }
    2.5% { transform: translate(-1px, 2px) rotate(-1deg); }
    3% { transform: translate(-3px, 1px) rotate(0deg); }
    3.5% { transform: translate(3px, 1px) rotate(-1deg); }
    4% { transform: translate(-1px, -1px) rotate(1deg); }
    4.5% { transform: translate(1px, -2px) rotate(-1deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
#logocat {
    animation: shake 10s infinite;
  } 

.songname{
text-align: right;
font-size: 20px;
justify-content: end;
margin-right: 5%;
color: white;
}
.songnumber{
    text-align: left;
    font-size: 26px;
    justify-content: start;
    margin-left: 9%;
    color:#EAF9D9;
    margin-top: 30px;
    font-weight: bold;
    }

li{
    list-style-type: none;
    font-size: 28px;
    color: white;
    text-align: center;
    font-weight: bold;
}
.q1section{
    display: none;
    font-size: 22px;
    color: black;
    background-color:white;
    border: 1px black solid;
    margin: 5px auto;
    height: 25%;
    border-radius: 5px;
    justify-content: center;
}
.selected{
    background-color: #FFB86F;
}

.lrc1section{
    width: 350px;
    height: 150px;
    overflow-y: auto;
    margin: 0 auto;
}
.lrc1 li{
    display: block;
    text-align: center;
    padding: 3px 0;
}
/* 正常是88秒 */
.lrc1section .lrc1 li{
    animation: scroll 88s linear forwards;
}
@keyframes scroll{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-1000px);
    }
}
#q100 {    animation-delay: 6s;   }
#q101 {    animation-delay: 9s;   }
#q102 {    animation-delay: 10s;   }
#q103 {    animation-delay: 12s;   }
#q104 {    animation-delay: 13s;   }
#q105 {    animation-delay: 14s;   }
#q106 {    animation-delay: 14s;   }
#q107 {    animation-delay: 14s;   }
#q108 {    animation-delay: 14s;   }
#q109 {    animation-delay: 14s;   }
#q110 {    animation-delay: 14s;   }
#q111 {    animation-delay: 14s;   }
#q112 {    animation-delay: 14s;   }
#q113 {    animation-delay: 14s;   }
#q114 {    animation-delay: 14s;   }
#q115 {    animation-delay: 14s;   }
#q116 {    animation-delay: 14s;   }



#q1btn{
    display: none;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    margin: auto;
    background-color:lightblue;
}
.lrc11section{
    width: 330px;
    height: 150px;
    overflow-y: auto;
    margin: 0 auto;
    display: none;
}
.lrc11 li{
    display: block;
    padding: 4px 0;
}
/* 正常是25秒 */
.lrc11section .lrc11 li{
    animation: scroll2 25s linear forwards;
}
@keyframes scroll2{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-1000px);
    }
}
#q117 {    animation-delay: 1s;   }
#q118 {    animation-delay: 2s; animation-duration: 29s;  }
#q119 {    animation-delay: 4s; animation-duration: 44s;  }
#q120 {    animation-delay: 7s; animation-duration: 49s;  }
/* 第二題 */
.question2{
    display: none;
}
.q2section{
    display: none;
    font-size: 17px;
    color: black;
    background-color:white;
    border: 1px black solid;
    margin: 5px auto;
    height: 25%;
    border-radius: 5px;
    justify-content: center;
}

.lrc2section{
    width: 350px;
    height: 150px;
    overflow-y: auto;
    margin: 0 auto;
}
.lrc2 li{
    display: block;
    text-align: center;
    padding: 3px 0;
}
/* 正常是49秒 */
.lrc2section .lrc2 li{
    animation: scroll21 49s linear forwards;
}
@keyframes scroll21{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-1000px);
    }
}
#q200 {    animation-delay: 12s;   }
#q201 {    animation-delay: 14s;   }
#q202 {    animation-delay: 17s;   }
#q203 {    animation-delay: 19s;   }
#q204 {    animation-delay: 21s;   }
#q205 {    animation-delay: 24s;   }
#q206 {    animation-delay: 26s;   }
#q207 {    animation-delay: 27s;   }
#q208 {    animation-delay: 29s;   }
#q209 {    animation-delay: 29s;   }

#q2btn{
    display: none;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    margin: auto;
    background-color:lightblue;
}
.lrc21section{
    width: 350px;
    height: 150px;
    overflow-y: auto;
    margin: 0 auto;
    display: none;
}
.selected2{
    background-color: #FFB86F;
}
.lrc21 li{
    display: block;
    padding: 4px 0;
}
.lrc21section .lrc21 li{
    animation: scroll22 38s linear forwards;
}
@keyframes scroll22{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-1000px);
    }
}
#q210 {    animation-delay: 5s;   }
#q211 {    animation-delay: 7s;   }
#q212 {    animation-delay: 9s;   }
#q213 {    animation-delay: 12s;   }
#q214 {    animation-delay: 14s;   }
#q215 {    animation-delay: 16s;   }
#q216 {    animation-delay: 18s;   }

/* 第三題 */
.question3{
    display: none;
}
.q3section{
    display: none;
    font-size: 17px;
    color: black;
    background-color:white;
    border: 1px black solid;
    margin: 5px auto;
    height: 25%;
    border-radius: 5px;
    justify-content: center;
}
.selected3{
    background-color: #FFB86F;
}


.lrc3section{
    width: 350px;
    height: 150px;
    overflow-y: auto;
    margin: 0 auto;
}
.lrc3 li{
    display: block;
    text-align: center;
    padding: 3px 0;
}
/* 正常是58秒 */
.lrc3section .lrc3 li{
    animation: scroll3 58s linear forwards;
}
@keyframes scroll3{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-1000px);
    }
}
#q300 {    animation-delay: 22s; animation-duration: 70s;  }
#q301 {    animation-delay: 27s;   }
#q302 {    animation-delay: 29s;   }
#q303 {    animation-delay: 31s;   }
#q304 {    animation-delay: 33s;   }
#q305 {    animation-delay: 34s;   }
#q306 {    animation-delay: 34s;   }
#q307 {    animation-delay: 34s;   }
#q308 {    animation-delay: 34s;   }

#q3btn{
    display: none;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    margin: auto;
    background-color:lightblue;
}
.lrc31section{
    width: 350px;
    height: 150px;
    overflow-y: auto;
    margin: 0 auto;
    display: none;
}
.lrc31 li{
    display: block;
    padding: 4px 0;
}
.lrc31section .lrc31 li{
    animation: scroll31 44s linear forwards;
}
@keyframes scroll31{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-1000px);
    }
}
#q310 {    animation-delay: 2s;   }
#q311 {    animation-delay: 4s;   }
#q312 {    animation-delay: 4s;   }
#q313 {    animation-delay: 6s;   }
#q314 {    animation-delay: 9s;   }
#q315 {    animation-delay: 10s;   }
#q316 {    animation-delay: 11s;   }
#q317 {    animation-delay: 12s;   }
#q318 {    animation-delay: 13s;   }
#q319 {    animation-delay: 14s;   }
#q320 {    animation-delay: 14s; animation-duration: 50s;  }

/* 第四題 */
.question4{
    display: none;
}