
/* @media screen and (min-width:768px) {
    body{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }    
} */
body{
    width: 100%;
    height: 100%;
    background-image: url(/images/pexels-cliford-mervil-2469122.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 400px;
    height: 625px;  */
    /* overflow: hidden; */
}
.mypopup{
    background-color: rgba(255,255,255,0.7);
    width: 30%;
    height: 15%;
    margin: auto auto;
    margin-top: 300px;
}
.mypopuptitle{
    font-size: 18px;
    color:#140F2D;
}

.logoimg{
    position: relative;
}
#logocat{
    height: 220px;
    width: 220px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    opacity: 90%;
    z-index: 3;
}
#logohead{
    height: 318px;
    width: 318px;
    position: absolute;
    display: flex;
    justify-content: center;
    margin: auto;
    top:-46px;left: 82px;
    z-index: 1;
}

#playlogo{
    height: 120px;
    width: 250px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 150px;
}
#playlogo:hover{
    transform: scale(1.1,1.1);
}
 @keyframes shake { 
    0% { transform: translate(1px, 1px) rotate(0deg); }
    0.5% { transform: translate(-1px, -2px) rotate(-1deg); }
    1% { transform: translate(-3px, 0px) rotate(1deg); }
    1.5% { transform: translate(3px, 2px) rotate(0deg); }
    2% { transform: translate(1px, -1px) rotate(1deg); }
    2.5% { transform: translate(-1px, 2px) rotate(-1deg); }
    3% { transform: translate(-3px, 1px) rotate(0deg); }
    3.5% { transform: translate(3px, 1px) rotate(-1deg); }
    4% { transform: translate(-1px, -1px) rotate(1deg); }
    4.5% { transform: translate(1px, -2px) rotate(-1deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
#logocat {
    animation: shake 10s infinite;
  } 

#songname{
text-align: right;
font-size: 20px;
justify-content: end;
margin-right: 5%;
color: white;
/* margin-top: 45px; */
}
.songnumber{
    text-align: left;
    font-size: 26px;
    justify-content: start;
    margin-left: 9%;
    color:#EAF9D9;
    margin-top: 30px;
    font-weight: bold;
    }

li{
    list-style-type: none;
    font-size: 28px;
    color: white;
    text-align: center;
    font-weight: bold;
}
.q1section{
    display: none;
    font-size: 22px;
    color: black;
    background-color:white;
    border: 1px black solid;
    margin: 5px auto;
    height: 25%;
    border-radius: 5px;
    justify-content: center;
}
.selected{
    background-color: #FFB86F;
}

.lrc1section{
    width: 350px;
    height: 150px;
    overflow-y: auto;
    margin: 0 auto;
}
.lrc1 li{
    display: block;
    text-align: center;
    padding: 3px 0;
}
/* 正常是88秒 */
.lrc1section .lrc1 li{
    animation: scroll 88s linear forwards;
}
@keyframes scroll{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-1000px);
    }
}
#q100 {    animation-delay: 6s;   }
#q101 {    animation-delay: 9s;   }
#q102 {    animation-delay: 10s;   }
#q103 {    animation-delay: 12s;   }
#q104 {    animation-delay: 13s;   }
#q105 {    animation-delay: 14s;   }
#q106 {    animation-delay: 14s;   }
#q107 {    animation-delay: 14s;   }
#q108 {    animation-delay: 14s;   }
#q109 {    animation-delay: 14s;   }
#q110 {    animation-delay: 14s;   }
#q111 {    animation-delay: 14s;   }
#q112 {    animation-delay: 14s;   }
#q113 {    animation-delay: 14s;   }
#q114 {    animation-delay: 14s;   }
#q115 {    animation-delay: 14s;   }
#q116 {    animation-delay: 14s;   }



#q1btn{
    display: none;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    margin: auto;
    background-color:lightblue;
}
.lrc11section{
    width: 330px;
    height: 150px;
    overflow-y: auto;
    margin: 0 auto;
    display: none;
}
.lrc11 li{
    display: block;
    padding: 4px 0;
}
.lrc11section .lrc11 li{
    animation: scroll2 25s linear forwards;
}
@keyframes scroll2{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-1000px);
    }
}
#q117 {    animation-delay: 1s;   }
#q118 {    animation-delay: 2s; animation-duration: 26s;  }
#q119 {    animation-delay: 4s; animation-duration: 40s;  }
#q120 {    animation-delay: 7s; animation-duration: 47s;  }

.question2{
    display: none;
}